<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>角色管理</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }
    </style>

    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/js.cookie-2.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>
</head>
<body>
<div id="header"></div>
<div style="display: inline">
    <span class="clearfix" style="margin: 20px;">
        <input autofocus class="form-control" id="fuzzyQuery" placeholder="查询角色"
               required style="float: left; width: 20%; margin-left: 20px; display: inline;" type="text">
        <button class="btn btn-primary" onclick="sendFuzzyQuery()"
                style="float: left; margin-left: 20px;" type="button">模糊查询</button>
        <button class="btn btn-primary" onclick="addRoleModal()"
                style="float: left; margin-left: 20px;" type="button">新增角色</button>
    </span>
</div>
<div style="padding: 20px">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">角色名</th>
            <th scope="col">角色描述</th>
            <th scope="col">更改权限</th>
            <th scope="col">删除角色</th>
        </tr>
        </thead>
        <tbody id="roleTableBody"></tbody>
    </table>
</div>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade modifyModal" data-backdrop="static"
     id="roleModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">修改角色</div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="newRoleName" class="col-form-label col-sm-2">角色名</label>
                        <input id="newRoleName" class="form-control col-sm-8"/>
                    </div>
                    <div class="form-group row">
                        <label for="newRoleDesc" class="col-form-label col-sm-2">描述</label>
                        <input id="newRoleDesc" class="form-control col-sm-8"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="addRole()" type="button">确定</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade functionModal" data-backdrop="static"
     id="functionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="height: 50px;">
                <h4 class="modal-title" id="user_modal_title"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="group_1" class="col-form-label col-sm-2">合同管理</label>
                        <div aria-label="合同管理" class="btn-group mr-2 col-sm-8" id="group_1" role="group">
                            <button class="btn btn-secondary" id="id_0" type="button">起草合同</button>
                            <button class="btn btn-secondary" id="id_1" type="button">定稿合同</button>
                            <button class="btn btn-secondary" id="id_2" type="button">查询合同</button>
                            <button class="btn btn-secondary" id="id_3" type="button">删除合同</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group_2" class="col-form-label col-sm-2">流程管理</label>
                        <div aria-label="流程管理" class="btn-group mr-2 col-sm-8" id="group_2" role="group">
                            <button class="btn btn-secondary" id="id_4" type="button">会签合同</button>
                            <button class="btn btn-secondary" id="id_5" type="button">审批合同</button>
                            <button class="btn btn-secondary" id="id_6" type="button">签订合同</button>
                            <button class="btn btn-secondary" id="id_7" type="button">分配合同</button>
                            <button class="btn btn-secondary" id="id_10" type="button">流程查询</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group_3" class="col-form-label col-sm-2">用户管理</label>
                        <div aria-label="用户管理" class="btn-group mr-2 col-sm-8" id="group_3" role="group">
                            <button class="btn btn-secondary" id="id_11" type="button">新增用户</button>
                            <button class="btn btn-secondary" id="id_12" type="button">编辑用户</button>
                            <button class="btn btn-secondary" id="id_13" type="button">查询用户</button>
                            <button class="btn btn-secondary" id="id_14" type="button">删除用户</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group_4" class="col-form-label col-sm-2">角色管理</label>
                        <div aria-label="角色管理" class="btn-group mr-2 col-sm-8" id="group_4" role="group">
                            <button class="btn btn-secondary" id="id_15" type="button">新增角色</button>
                            <button class="btn btn-secondary" id="id_16" type="button">编辑角色</button>
                            <button class="btn btn-secondary" id="id_17" type="button">查询角色</button>
                            <button class="btn btn-secondary" id="id_18" type="button">删除角色</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group_5" class="col-form-label col-sm-2">权限管理</label>
                        <div aria-label="权限管理" class="btn-group col-sm-8" id="group_5" role="group">
                            <button class="btn btn-secondary" id="id_22" type="button">配置权限</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group_5" class="col-form-label col-sm-2">客户管理</label>
                        <div aria-label="客户管理" class="btn-group mr-2 col-sm-8" id="group_6" role="group">
                            <button class="btn btn-secondary" id="id_23" type="button">新增客户</button>
                            <button class="btn btn-secondary" id="id_24" type="button">编辑客户</button>
                            <button class="btn btn-secondary" id="id_25" type="button">查询客户</button>
                            <button class="btn btn-secondary" id="id_26" type="button">删除客户</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="resetModalBtn" onclick="updateFunctions()" type="button">更改</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/nav.js" type="text/javascript"></script>
<script>
    let roleTableBody;
    let functionModal;
    let roleModal;
    let functionBtns = [];
    let currentRole;

    function addRoleModal() {
        roleModal.modal();
    }

    function addRole() {
        let newName = $("#newRoleName").val();
        if (newName.length === 0) {
            alert("请输入角色名");
            return;
        }
        let newDesc = $("#newRoleDesc").val();
        $.ajax({
            type: 'POST',
            url: 'api/role/insert',
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            data: JSON.stringify({
                "id":'',
                "name":newName,
                "description":newDesc
            }),
            statusCode: {
                200: ()=>{
                    alert("增加成功");
                    refreshTable();
                    roleModal.modal('hide');
                    $("#newRoleName").val('');
                    $("#newRoleDesc").val('');
                }
            },
            error: () => alert("网络问题或者无权限")
        })
    }

    function updateFunctions() {
        $.ajax({
            type: 'POST',
            url: 'api/behavior/update',
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            data: JSON.stringify({
                "nums": getSelectedBtns(),
                "roleId": currentRole
            }),
            statusCode: {
                200: () => {
                    alert("修改成功");
                    functionModal.modal('hide');
                }
            },
            error: () => alert("网络问题或者无权限")
        })
    }

    function resetAllBtns() {
        functionBtns.forEach((btn) => btn.removeClass("btn-primary").addClass("btn-secondary"));
    }

    function getSelectedBtns() {
        let output = [];
        functionBtns.forEach((btn) => {
            if (btn.hasClass("btn-primary")) output.push(btn.attr('id').substring(3));
        });
        return output;
    }

    function loadRoleTable(resultList) {
        roleTableBody.empty();
        resultList.forEach((result) => {
            currentRole = result['id'];
            let roleName = result['name'];
            let tr = $(`<tr></tr>`);
            roleTableBody.append(tr);
            tr.append($(`<td>${currentRole}</td>`));
            tr.append($(`<td>${roleName}</td>`));
            tr.append($(`<td>${result['description']}</td>`));
            let changeBehaviorTD = $(`<td><button class="btn btn-primary">更改</button></td>`);
            changeBehaviorTD.click(function () {
                $("#user_modal_title").text(roleName);
                resetAllBtns();
                $.ajax({
                    type: 'POST',
                    url: 'api/behavior/selectFunctions',
                    headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
                    data: JSON.stringify({
                        "id": currentRole
                    }),
                    statusCode: {
                        200: (resultList) => resultList.forEach((result) => $(`#id_${result}`).removeClass("btn-secondary").addClass("btn-primary"))
                    },
                    error: () => alert("网络问题或者无权限")
                });
                functionModal.modal();
            });
            tr.append(changeBehaviorTD);
            let deleteTD = $(`<td><button class="btn btn-danger">删除</button></td>`);
            deleteTD.click(function () {
                if (confirm(`你确定要删除${roleName}?`)) {
                    $.ajax({
                        type: 'DELETE',
                        url: 'api/role/delete',
                        headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
                        data: JSON.stringify({
                            "id": currentRole
                        }),
                        statusCode: {
                            200: () => {
                                alert(`成功删除了`);
                                refreshTable();
                            }
                        },
                        error: () => alert("网络问题或者无权限")
                    })
                }
            });
            tr.append(deleteTD);
        })
    }

    function refreshTable() {
        $.ajax({
            type: 'POST',
            url: 'api/role/selectAll',
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            statusCode: {
                200: (resultList) => loadRoleTable(resultList)
            },
            error: () => alert("网络问题或者无权限")
        })
    }

    function sendFuzzyQuery() {
        $.ajax({
            type: 'POST',
            url: 'api/role/fuzzyQuery',
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            data: JSON.stringify({
                "content": $("#fuzzyQuery").val()
            }),
            statusCode: {
                200: (resultList) => loadRoleTable(resultList)
            },
            error: () => alert("网络问题或者无权限")
        })
    }

    $(function () {
        changeActive(functionManagementNav);

        roleTableBody = $("#roleTableBody");
        functionModal = $("#functionModal");
        roleModal = $("#roleModal");
        for (let i = 0; i < 8; i++) functionBtns.push($(`#id_${i}`));
        for (let i = 10; i < 19; i++) functionBtns.push($(`#id_${i}`));
        for (let i = 22; i < 27; i++) functionBtns.push($(`#id_${i}`));

        functionBtns.forEach((btn) => {
            btn.click(function () {
                if (btn.hasClass("btn-primary")) btn.removeClass("btn-primary").addClass("btn-secondary");
                else btn.removeClass("btn-secondary").addClass("btn-primary");
            })
        });

        refreshTable();
    })
</script>
</html>