<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>会签</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my-form.css" rel="stylesheet">

    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/js.cookie-2.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>

    <style type="text/css">
        .clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }
    </style>
</head>
<body style="text-align: center">
<div id="header"></div>
<div class="text-center" id="fuzzyQueryContainer"></div>
<div style="padding: 20px" id="default-contract-table"></div>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade counterSignModal" data-backdrop="static"
     id="countersignModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="height: 50px;">
                <h4 class="modal-title" id="contract-title"></h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-content">
                <div class="modal-body" style="display: flex">
					<form style="width: 60%" id="default-contract-modal-form"></form>
                    <form class="text-center" style="width: 40%;">
                        <div class="form-group row"><label class="col-sm-10" for="countersign-comment">会签意见</label>
                        </div>
                        <div class="form-group row">
                            <textarea class="col-sm-10 form-control" id="countersign-comment" placeholder="请在这里输入意见"
                                      rows="9"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="submit" type="button">提交</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/nav.js" type="text/javascript"></script>
<script src="js/contract.js" type="text/javascript"></script>
<script>
	let contractNum;
	let contractTableBody;
	let countersignModal;
	let countersignComment;
	let url = '/api/contract/countersign/select';

    function sendFuzzyQuery() {
        sendSimpleFuzzyQuery('/api/contract/fuzzy/countersign/select',$("#fuzzyQuery").val(), trClick)
    }

	function trClick(num) {
        contractNum = num;
        console.log(contractNum);
        $("#contract-title").text(contractNum);
        $.ajax({
            type: 'POST',
            url: '/api/contract/countersign_need_message/select',
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            data: JSON.stringify({
                "contractNum": contractNum
            }),
            statusCode: {
                200: (result) => initModal(result)
            },
            error: () => alert("未连接到网络，或者无权限")
        });
        countersignModal.modal();
    }

	function initModal(result) {
		let contract = result['contract'];
		loadDetailContractInfo(contract);
	}
    
    $(function () {
        changeActive(contractManagementNav);

    	contractTableBody = $("#contractTableBody");
        countersignModal = $("#countersignModal");
        countersignComment = $("#countersign-comment");
		loadNewTable(url, trClick);

        $("#submit").click(function () {
            let comment = countersignComment.val();
            if (comment.trim().length === 0) {
                alert("请输入意见");
                return;
            }
            $.ajax({
                type: 'PUT',
                url: '/api/contract/countersign/add',
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
                data: JSON.stringify({
                    "content": comment,
                    "contractNum": contractNum,
                    "state": 1
                }),
                statusCode: {
                    200: () => {
                        alert('成功');
                        countersignModal.modal('hide');
                        loadNewTable(url, trClick);
                    }
                },
                error: () => alert("未连接到网络，或者无权限")
            })
        });
    })

</script>
</html>
