<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title></title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/my-form.css" rel="stylesheet">
		<link href="css/gijgo.min.css" rel="stylesheet">
		<link href="css/fileinput.min.css" rel="stylesheet">
		<link href="css/theme.min.css" rel="stylesheet">
		<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
		
		<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
		<script src="js/js.cookie-2.2.1.min.js" type="text/javascript"></script>
		<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
		<script src="js/piexif.min.js" type="text/javascript"></script>
		<script src="js/purify.min.js" type="text/javascript"></script>
		<script src="js/fileinput.min.js" type="text/javascript"></script>
		<script src="js/locales/zh.js" type="text/javascript"></script>
		<script src="js/common.js" type="text/javascript"></script>
		<script src="themes/fas/theme.min.js" type="text/javascript"></script>
		<script src="js/gijgo.min.js" type="text/javascript"></script>
		<script src="js/messages.zh-cn.min.js" type="text/javascript"></script>
		<style type="text/css">
			.clearfix:before, .clearfix:after{
				content: "";
				display: table;
			}
			.clearfix:after{
				clear: both;
			}
			.clearfix{
				zoom: 1;
			}
		</style>
	</head>
	<body>
		<div id="header"></div>
		<div>
			<span class="clearfix" style="margin: 20px;">
				<input autofocus class="form-control" id="name" type="text" style="float: left; width: 20%; margin-left: 20px;"required placeholder="查询合同" style="display: inline; width: 20%;">
				<button type="button" class="btn btn-primary" style="float: left; margin-left: 20px;">查询</button>
			</span>
			<div class="text-center" style="margin-top: 50px;">
				<table class="table table-hover" style="width: 80%; margin-top: 20px;" align="center" id="show_table">
					<thead>
					<tr>
						<th scope="col">合同名称</th>
						<th scope="col">起草时间</th>
						<th scope="col">确定</th>
					</tr>
					</thead>
					<tbody id="customerBody">
						<tr>
							<td scope="col">dsadsa1</td>
							<td scope="col">2019-2-2</td>
						</tr>
						<tr>
							<td scope="col">dsadsa2</td>
							<td scope="col">2019-2-3</td>
						</tr>
						<tr>
							<td scope="col">dsadsa3</td>
							<td scope="col">2019-2-4</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal fade bd-example-modal-xl" id="customerModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-scrollable modal-xl" >
		        <div class="modal-content">
		            <div class="modal-header" style="height: 50px;">
		                <h4 class="modal-title" id="show_name"></h4>
		                <button class="close" data-dismiss="modal" type="button">&times;</button>
		            </div>
		            <div class="modal-content">
		                <div class="modal-body">
							<div style="margin: 0px auto; text-align: center; width: 80%;" class="clearfix">
								<textarea style="float: left; width: 45%; margin-right: 20px; border: none; outline: none;" rows="7" disabled="disabled" ></textarea>
								<textarea style="float: left; width: 45%; border: none; outline: none;" rows="7" placeholder="请在这里输入意见"></textarea>
							</div>
						</div>
		            </div>
		            <div class="modal-footer">
						<button class="btn btn-danger" data-dismiss="modal" type="button" id="submit">提交</button>
		                <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
						
		            </div>
		        </div>
		    </div>
		</div>
		<nav aria-label="..." style="float: right; margin-top:10px ;">
		  <ul class="pagination">
		    <li class="page-item disabled">
		      <span class="page-link">Previous</span>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">1</a></li>
		    <li class="page-item active" aria-current="page">
		      <span class="page-link">
		        2
		        <span class="sr-only">(current)</span>
		      </span>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item">
		      <a class="page-link" href="#">Next</a>
		    </li>
		  </ul>
		</nav>
	</body>
	
	<script src="js/nav.js" type="text/javascript"></script>
	
	<script>
		$(function() {
			$("#show_table tr").click(function(){
				var contract_name = $(this).find("td").eq(0).text();
				console.log(contract_name);
				$("#show_name").text(contract_name);
				$("#customerModal").modal();
				
			});
			
			$("#submit").click(function(){
				if($("#customerModal").find("textarea").eq(1).val() == ""){
					alert("请输入意见");
				}
			})
			var li_number = $(".list-group li").length;
			$("#customerModal").find("textarea").eq(1).attr("row", li_number * 3);
		})
		
	</script>
</html>
