<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my-form.css" rel="stylesheet">
    <style type="text/css">
        .clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }
    </style>

    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/js.cookie-2.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>

    <title>客户管理</title>
</head>
<body>
<div id="header"></div>
<div style="display: inline">
    <span class="clearfix" style="margin: 20px;">
        <input autofocus class="form-control" id="fuzzyQuery" placeholder="查询合同"
               required style="float: left; width: 20%; margin-left: 20px; display: inline;" type="text">
        <button class="btn btn-primary" onclick="sendFuzzyQuery()"
                style="float: left; margin-left: 20px;" type="button">模糊查询</button>
        <button class="btn btn-primary" onclick="addCustomer()"
                style="float: left; margin-left: 20px;" type="button">新增客户</button>
    </span>
</div>

<div style="padding: 20px">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">客户编号</th>
            <th scope="col">客户名称</th>
            <th scope="col">地址</th>
            <th scope="col">电话</th>
            <th scope="col">传真</th>
            <th scope="col">邮编</th>
            <th scope="col">银行名称</th>
            <th scope="col">银行账户</th>
            <th scope="col">备注</th>
            <th scope="col">更新</th>
            <th scope="col">删除</th>
        </tr>
        </thead>
        <tbody id="customerTableBody">
        </tbody>
    </table>
</div>

<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade customerModal" data-backdrop="static"
     id="customerModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="height: 50px;">
                <h4 class="modal-title" id="customer-title"></h4>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="c-num" style="display: inline">客户编号</label>
                            <div class="col-sm-8">
                                <input class="form-control" disabled id="c-num"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="c-name" style="display: inline">客户名称</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="c-name"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="address" style="display: inline">地址</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="address"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="tel" style="display: inline">电话</label>
                            <div class="col-sm-8"><input class="form-control" id="tel"/></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="fax" style="display: inline">传真</label>
                            <div class="col-sm-8"><input class="form-control" id="fax"/></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="code" style="display: inline">邮编</label>
                            <div class="col-sm-8"><input class="form-control" id="code"/></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="bank" style="display: inline">银行名称</label>
                            <div class="col-sm-8"><input class="form-control" id="bank"/></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="account" style="display: inline">银行账户</label>
                            <div class="col-sm-8"><input class="form-control" id="account"/></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="other" style="display: inline">备注</label>
                            <div class="col-sm-8"><textarea class="form-control" id="other" rows="5"></textarea></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="insertModalBtn" type="button">创建</button>
                <button class="btn btn-danger" id="updateModalBtn" type="button">更改</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/nav.js" type="text/javascript"></script>
<script>
    let fuzzyQuery;
    let customerTableBody;
    let c_num;
    let c_name;
    let address;
    let tel;
    let fax;
    let code;
    let bank;
    let account;
    let other;
    let customerModal;

    let insertModalBtn;
    let updateModalBtn;

    function selectAll() {
        customerTableBody.empty();
        $.ajax({
            type: 'POST',
            url: 'api/customer/selectAll',
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            statusCode: {
                200: (resultList) => loadTable(resultList)
            },
            error: () => alert("未连接到网络，或者无权限")
        })
    }

    function loadUpdateCustomerModal(customer) {
        insertModalBtn.hide();
        updateModalBtn.show();
        loadCustomerModal(customer);
    }

    function addCustomer() {
        updateModalBtn.hide();
        insertModalBtn.show();
        loadCustomerModal(null);
    }

    function loadCustomerModal(customer) {
        if (customer === null) customer = {
            'num': '',
            'name': '',
            'address': '',
            'tel': '',
            'fax': '',
            'code': '',
            'bank': '',
            'account': '',
            'other': ''
        };

        c_num.val(customer['num']);
        c_name.val(customer['name']);
        address.val(customer['address']);
        tel.val(customer['tel']);
        fax.val(customer['fax']);
        code.val(customer['code']);
        bank.val(customer['bank']);
        account.val(customer['account']);
        other.val(customer['other']);

        customerModal.modal();
    }

    function loadTable(resultList) {
        resultList.forEach((customer) => {
            let tr = $(`<tr></tr>`);
            Object.keys(customer).forEach(value => tr.append($(`<td>${customer[value]}</td>`)));
            let updateBtn = $(`<td><button class="btn btn-primary">更新</button></td>`);
            updateBtn.click(() => loadUpdateCustomerModal(customer));
            tr.append(updateBtn);
            let deleteBtn = $(`<td><button class="btn btn-danger">删除</button></td>`);
            deleteBtn.click(function () {
                if (confirm("你确定要删除客户吗？")) {
                    $.ajax({
                        type: 'DELETE',
                        url: 'api/customer/delete',
                        headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
                        data: JSON.stringify({
                            "num": customer.num
                        }),
                        statusCode: {
                            200: () => {
                                alert("删除成功");
                                selectAll();
                            }
                        },
                        error: () => alert("未连接到网络，或者无权限")
                    })
                }
            });
            tr.append(deleteBtn);
            customerTableBody.append(tr);
        });

    }

    $(function () {
        changeActive(customerNav);

        fuzzyQuery = $("#fuzzyQuery");
        customerTableBody = $("#customerTableBody");
        c_num = $("#c-num");
        c_name = $("#c-name");
        address = $("#address");
        tel = $("#tel");
        fax = $("#fax");
        code = $("#code");
        bank = $("#bank");
        account = $("#account");
        other = $("#other");
        insertModalBtn = $("#insertModalBtn");
        updateModalBtn = $("#updateModalBtn");
        customerModal = $("#customerModal");

        selectAll();

       function sendCustomerRequest(type, url) {
           if (c_name.val().length === 0) {
               alert("必须填写姓名");
               return;
           }
            $.ajax({
                type:type,
                url:url,
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
                data: JSON.stringify({
                    "account": account.val().length === 0 ? null : account.val(),
                    "address": address.val().length === 0 ? null : address.val(),
                    "bank": bank.val().length === 0 ? null : bank.val(),
                    "code": code.val().length === 0 ? null : code.val(),
                    "fax": fax.val().length === 0 ? null : fax.val(),
                    "name": c_name.val(),
                    "num": c_num.val(),
                    "other": other.val().length === 0 ? null : other.val(),
                    "tel": tel.val().length === 0 ? null : tel.val()
                }),
                statusCode: {
                    200: ()=>{
                        alert('成功了');
                        customerModal.modal('hide');
                        selectAll();
                    }
                },
                error: () => alert("未连接到网络，或者无权限")
            })
        }

        insertModalBtn.click(() => sendCustomerRequest('PUT', 'api/customer/insert'));
        updateModalBtn.click(() => sendCustomerRequest('PUT', 'api/customer/update'));
    });
</script>
</html>