<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my-form.css" rel="stylesheet">
    <link href="css/gijgo.min.css" rel="stylesheet">
    <link href="css/fileinput.min.css" rel="stylesheet">
    <link href="css/theme.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/js.cookie-2.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="js/piexif.min.js" type="text/javascript"></script>
    <script src="js/purify.min.js" type="text/javascript"></script>
    <script src="js/fileinput.min.js" type="text/javascript"></script>
    <script src="js/locales/zh.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>
    <script src="themes/fas/theme.min.js" type="text/javascript"></script>
    <script src="js/gijgo.min.js" type="text/javascript"></script>
    <script src="js/messages.zh-cn.min.js" type="text/javascript"></script>
</head>
<body>
<div id="header"></div>
<div class="text-center">
    <form>
        <h1>起草合同</h1>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name" style="display: inline">合同名称</label>
            <div class="col-sm-9">
                <input autofocus class="form-control" id="name" placeholder="合同名称" required style="display: inline;"
                       type="text">
                <div class="invalid-feedback"><small>请输入合同名称！</small></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="customerBtn" style="display: inline">客户编号</label>
            <div class="col-sm-9">
                <input class="form-control" data-target=".bd-example-modal-xl" data-toggle="modal" id="customerBtn"
                       placeholder="点击选择"
                       type="text"/>
                <div class="invalid-feedback"><small>请选择！</small></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="beginTime" style="display: inline">开始时间</label>
            <div class="col-sm-9">
                <input id="beginTime" width="276"/>
                <div class="invalid-feedback"><small>请选择！</small></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="endTime" style="display: inline">结束时间</label>
            <div class="col-sm-9">
                <input id="endTime" width="276"/>
                <div class="invalid-feedback"><small>请选择！</small></div>
            </div>
        </div>
    </form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="content" style="display: inline">合同内容</label>
        <div class="col-sm-9">
            <textarea autofocus class="form-control" id="content" placeholder="合同内容" required rows="10"
                      style="display: inline;"></textarea>
            <div class="invalid-feedback"><small>请输入合同内容！</small></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="attachment" style="display: inline">合同附件</label>
        <div class="col-sm-9">
            <div class="file-loading">
                <input id="attachment" type="file">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="attachment" style="display: inline"></label>
        <div class="col-sm-4">
            <button class="btn btn-primary form-control" type="submit" onclick="submit();">提交</button>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <button class="btn btn-danger form-control" type="reset" onclick="reset();">重置</button>
        </div>
    </div>

</div>


<div class="modal fade bd-example-modal-xl" id="customerModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择用户</h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <input class="form-control" id="customerInput" placeholder="模糊查询" style="display: inline;"
                           type="text">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">序号</th>
                            <th scope="col">名称</th>
                            <th scope="col">地址</th>
                            <th scope="col">电话</th>
                            <th scope="col">传真</th>
                            <th scope="col">邮编</th>
                            <th scope="col">银行</th>
                            <th scope="col">账户</th>
                            <th scope="col">备注</th>
                            <th scope="col">确定</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/nav.js" type="text/javascript"></script>
<script>
    let currentCustomerId = null;
    let nameInput;
    let openCustomerSelector;
    let customerInput;
    let customerModal;
    let tableBody;
    let beginTime;
    let endTime;
    let content;
    let attachment;
    let finalName;

    function submit() {
        if (!isValid(nameInput)) {
            alert("请填写合同名");
            return;
        }
        if (!isValid(openCustomerSelector)) {
            alert("请选择客户");
            return;
        }
        if (!isValid(beginTime) || !isValid(endTime)) {
            alert("请选择时间");
            return;
        }
        if (!isValid(content)) {
            alert("请填写内容");
            return;
        }
        $.ajax({
            type: "PUT",
            url: "api/contract/draft",
            data: JSON.stringify({
                "num":"",
                "name":nameInput.val(),
                "customerNum":currentCustomerId,
                "begin": beginTime.value(),
                "end": endTime.value(),
                "content": content.val(),
                "userName": finalName
            }),
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},

            statusCode: {
                200: function () {
                    alert("成功");
                    reset();
                }
            },

            error: () => alert("未连接到网络，或者无权限")

        })
    }

    function reset() {
        nameInput.val('');
        setValid(nameInput, false);
        openCustomerSelector.val('');
        setValid(openCustomerSelector, false);
        currentCustomerId = null;
        beginTime.value('');
        setValid(beginTime, false);
        endTime.value('');
        setValid(endTime, false);
        attachment.fileinput('clear');
    }

    $(function () {
        tableBody = $('#tableBody');

        nameInput = $("#name");
        nameInput.blur(() => setValid(nameInput, nameInput.val().length !== 0));

        openCustomerSelector = $("#customerBtn");
        customerInput = $("#customerInput");
        customerModal = $("#customerModal");
        openCustomerSelector.click(function () {
            customerModal.modal();
            refreshCustomerTable();
        });

        let addSelectBtn = function (customer, tr) {
            let select = $(`<td><button class="btn btn-primary">确定</button></td>`);
            select.click(function () {
                currentCustomerId = customer.num;
                openCustomerSelector.val(`编号: ${customer.num}, 姓名: ${customer.name}, 地址：${customer.address}, 电话：${customer.tel}`);
                setValid(openCustomerSelector, true);
            });
            tr.append(select);
        };

        function refreshCustomerTable() {
            $.ajax({
                type: "POST",
                url: "api/customer/fuzzyQuery",
                data: JSON.stringify({
                    "query": customerInput.val()
                }),
                headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},

                statusCode: {
                    200: function (result) {
                        tableBody.empty();
                        addTr(result, tableBody, addSelectBtn);
                    }
                },

                error: () => alert("未连接到网络，或者无权限")
            });
        }

        customerInput.bind('keypress', function (event) {
            if (event.keyCode === 13) {
                refreshCustomerTable();
            }
        });

        customerModal.blur(function () {
            setValid(openCustomerSelector, currentCustomerId !== null);
        });

        beginTime = $("#beginTime");
        beginTime.datepicker({
            uiLibrary: 'bootstrap4',
            locale: 'zh-cn',
            format: 'yyyy-mm-dd',
            close: () => setValid(beginTime, beginTime.value().length !== 0)
        });

        endTime = $("#endTime");
        endTime.datepicker({
            uiLibrary: 'bootstrap4',
            locale: 'zh-cn',
            format: 'yyyy-mm-dd',
            close: () => setValid(endTime, endTime.value().length !== 0)
        });

        content = $("#content");
        content.blur(() => setValid(content, content.val().length !== 0));

        attachment = $("#attachment");
        attachment.fileinput({
            theme: "fas",
            showUpload: true,
            maxFileCount: 1,
            mainClass: "input-group-lg",
            language: 'zh',
            enctype: 'multipart/form-data',
            uploadAsync: true,
            uploadUrl: 'api/contract/attachment/upload',
            accept: ["doc", "docx", "jpg", "jpeg", "png", "bmp", "gif"],
            allowedFileExtensions: ["doc", "docx", "jpg", "jpeg", "png", "bmp", "gif"],
        }).on('fileuploaded', function(event, data) {
            let response = data.response;
            finalName = response["finalName"];
            console.log(event);
            console.log(data);
            console.log(finalName);
        }).on('fileerror', function (event, data, msg) {
            console.log(event);
            console.log(data);
            console.log(msg);
        })
    });
</script>
</html>