<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">合同管理系统</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="welcome.html"
                   id="contractDropdown" role="button">
                    合同操作
                </a>
                <div aria-labelledby="contractDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="draft.html" id="draft_nav">起草合同 </a>
                    <a class="dropdown-item" href="#" id="finalize_nav">定稿合同 </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="counter_sign_nav">会签合同 </a>
                    <a class="dropdown-item" href="#" id="review_nav">审批合同 </a>
                    <a class="dropdown-item" href="#" id="sign_nav">签订合同 </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">合同查询</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="navbarDropdown" role="button">
                    权限管理
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="#">用户管理</a>
                    <a class="dropdown-item" href="#">角色管理</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="userDropdown" role="button">
                    个人资料
                    <span class="sr-only">(current)</span>
                </a>
                <div aria-labelledby="userDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="draft.html">重置密码</a>
                    <a class="dropdown-item" href="#">创建账户</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html">更换账户</a>
                    <a class="dropdown-item" href="#">注销登录</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary" type="submit">消息中心
            </button>
        </form>
    </div>
</nav>


