<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>日志管理</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my-form.css" rel="stylesheet">
    <link href="css/gijgo.min.css" rel="stylesheet">
    <style type="text/css">
        .clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }
    </style>

    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/js.cookie-2.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/gijgo.min.js" type="text/javascript"></script>
    <script src="js/messages.zh-cn.min.js" type="text/javascript"></script>
</head>
<body style="text-align: center">
<div id="header"></div>
<div class="text-center">
    <span class="clearfix" style="margin: 20px;">
		<input autofocus class="form-control" id="content" placeholder="查询日志"
               required style="float: left; width: 20%; margin-left: 20px; display: inline;"
               type="text">
		<button class="btn btn-primary" style="float: left; margin-left: 20px;" type="button"
                onclick="sendFuzzyQuery()">查询</button>
        <button class="btn btn-primary" style="float: left; margin-left: 20px;" type="button"
                onclick="toExcel()">导出为Excel</button>
	</span>
    <form>
        <div class="form-group row">
            <label class="col-form-label col-sm-1" style="display: inline">选择用户</label>
            <div class="dropdown col-sm-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="userSelector" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    选择用户
                </button>
                <div class="dropdown-menu" id="users" aria-labelledby="dropdownMenuButton">
                </div>
            </div>

            <label class="col-form-label col-sm-1" for="beginTime" style="display: inline">开始时间</label>
            <div class="form-group col-sm-2">
                <input id="beginTime"/>
            </div>
            <label class="col-sm-1 col-form-label" for="endTime" style="display: inline">结束时间</label>
            <div class="form-group col-sm-2">
                <input id="endTime"/>
            </div>

            <div class="col-sm-1">
                <button class="btn btn-primary form-control" onclick="sendFilterQuery();" type="button">条件查询</button>
            </div>
        </div>

    </form>

</div>
<div class="text-center" style="margin-top: 50px;">
    <table class="table table-hover" id="log_table" style=" margin-top: 20px; alignment: center">
        <thead>
        <tr>
            <th scope="col">日志编号</th>
            <th scope="col">用户名</th>
            <th scope="col">日志内容</th>
            <th scope="col">日志时间</th>
        </tr>
        </thead>
        <tbody id="logTableBody">
        </tbody>
    </table>
</div>

</body>

<script src="js/nav.js" type="text/javascript"></script>
<script>

    let content;
    let logTableBody;
    let tableBody;
    let beginTime;
    let endTime;
    let users;
    let logTable;
    let userSelector;
    let today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    let operatorSelected = false;

    $(function () {
        changeActive(logQueryNav);

        content = $("#content");
        logTableBody = $("#logTableBody");
        tableBody = $("#tableBody");
        users = $("#users");
        userSelector = $("#userSelector");
        beginTime = $("#beginTime");
        logTable = $("#log_table");
        beginTime.datepicker({
            uiLibrary: 'bootstrap4',
            locale: 'zh-cn',
            format: 'yyyy-mm-dd',
            maxDate: today,
            close: () => dateCheck()
        });

        endTime = $("#endTime");
        endTime.datepicker({
            uiLibrary: 'bootstrap4',
            locale: 'zh-cn',
            format: 'yyyy-mm-dd',
            maxDate: today,
            close: () => dateCheck()
        });

        sendFuzzyQuery();
        loadUsers();
    });

    function sendFuzzyQuery() {
        $.ajax({
            type: "POST",
            url: "api/contractLog/fuzzyQuery",
            data: JSON.stringify({
                "query": content.val()
            }),

            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},

            statusCode: {
                200: (resultList) => loadLogTable(resultList)
            },

            error: () => alert("未连接到网络，或者无权限")
        })
    }


    function sendFilterQuery() {
        $.ajax({
            type: "POST",
            url: "api/contractLog/filterSelectLog",
            data: JSON.stringify({
                "userName": operatorSelected ? userSelector.text() : '',
                "fromTime": beginTime.value(),
                "toTime": endTime.value()
            }),

            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},

            statusCode: {
                200: (resultList) => loadLogTable(resultList)
            },

            error: () => alert("未连接到网络，或者无权限")
        })
    }

    function loadUsers() {
        $.ajax({
            type: "GET",
            url: "api/user/selectAll",

            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},

            statusCode: {
                200: (resultList) => addUser(resultList)
            },

            error: () => alert("未连接到网络，或者无权限")
        })

    }

    function addUser(resultList) {
        let b = $(`<a class="dropdown-item">取消选择</a>`);
        b.click(() => {
            userSelector.text('选择用户');
            operatorSelected = false;
        });
        users.append(b);
        resultList.forEach(function (element) {
            let a = $(`<a class="dropdown-item">${element}</a>`);
            a.click(() => {
                userSelector.text(element);
                operatorSelected = true;
            });
            users.append(a);
        });
    }

    function loadLogTable(resultList) {
        //refreshTable(logTableBody, resultList, addLodTableTd, null);
        refreshTable(logTableBody, resultList, null, null);
    }

    function isLater(a, b) {
        if (a.getFullYear() !== b.getFullYear()) return a.getFullYear() > b.getFullYear();
        if (a.getMonth() !== b.getMonth()) return a.getMonth() > b.getMonth();
        return a.getDate() > b.getDate();
    }

    function dateCheck() {
        let beginValue = beginTime.value();
        let endValue = endTime.value();
        let beginDate = beginValue.length === 0 ? null : new Date(beginValue);
        let endDate = endValue.length === 0 ? null : new Date(endValue);

        let isBeginValid = function () {
            if (beginDate === null) return true;
            if (isLater(beginDate, today)) return false;
            if (endDate === null) return true;
            return !isLater(beginDate, endDate);
        };

        let isEndValid = function () {
            if (endDate === null) return true;
            if (isLater(endDate, today)) return false;
            if (beginDate === null) return true;
            return !isLater(beginDate, endDate);
        };

        setValid(beginTime, isBeginValid());
        setValid(endTime, isEndValid());
    }

    function toExcel() {

        let $trs = logTable.find("tr");
        let str = "";
        for (let i = 0; i < $trs.length; i++) {
            let $tds = $trs.eq(i).find("td,th");
            for (let j = 0; j < $tds.length; j++) {
                str += $tds.eq(j).text() + ",";
            }
            str += "\n";
        }

        let aaaa = "data:text/csv;charset=utf-8,\ufeff" + str;
        let link = document.createElement("a");
        link.setAttribute("href", aaaa);
        let fileName = new Date().toDateString();
        link.setAttribute("download", fileName + ".csv");
        link.click();
    }

</script>
</html>